@import "base/variables";

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: $Roboto;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

//COMPONENTS STYLE
.btn {
  display: inline-block;
  margin: 0 1em;
  border: 1px solid $main-color;
  height: 44px;
  background-color: $main-color;
  cursor: pointer;

  &__text {
    padding: 0.5em 1em;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: -0.02em;
    color: $text-light-color;
  }
}

.coloredText {
  color: $main-color;
}

.rightarrow {
  margin-left: 1.5em;
}

.logo {
  &__text {
    font-size: 3.4rem;
    font-weight: bold;
  }
}

.mainTitle {
  font-size: 4.8rem;
  line-height: 1.33;
  font-weight: bold;
  text-align: left;
}

.article {
  padding: 2em 20em 2em 0;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: left;
}

.picture {
  width: 720px;

  &__content {
    width: 100%;
  }
}

.article__title {
  padding: 1.2em;
  font-size: 4rem;
  line-height: 1.3;
  font-weight: bold;
  text-align: center;
}

.other__title {
  padding: 1.2em;
  font-size: 2.8rem;
  line-height: 1.25;
  font-weight: bold;
  text-align: center;
}

.horizontalLine {
  border: none;
  padding-bottom: 1em;
  border-top: 3px solid $text-color;
}

.quote {
  display: flex;
  flex-direction: column;

  &__text {
    position: relative;
    padding: 4em 22em 0 10em;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: left;
  }

  &__source {
    padding: 1em 10em;
    font-size: 1.6rem;
    line-height: 1;
    text-align: left;
  }
}

.card {
  position: relative;
  margin: 1em;
  box-shadow: 10px 5px 5px $icon-color;
  border-radius: 3px;
  width: 220px;
  height: 176px;

  &:nth-child(3) {
    background-color: $main-color;

    .externalLink, .externalLink__text {
      color: $text-light-color;
    }
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
}

.externalLink {
  padding: .5em 1em;
  font-size: 1.6rem;
  color: $text-color;

  &__text {
    position: absolute;
    bottom: .5em;
    right: .5em;
    font-size: 2.6rem;
    color: $main-color;
  }
}

.label {
  display: block;
  margin: 1em 2em;
  padding: 1em 2em;
  font-size: 1.6rem;
}

.input {
  width: 500px;
  height: 44px;
  padding: 1em 2em;
  font-size: 1.6rem;

  &::placeholder {
    color: $main-color;
  }
}

.list {
  padding-left: 4em;
  text-align: left;
  list-style: none;

  &__item {
    padding: 1em 0;
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

//TEMPLATES STYLE
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3.6em 0;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2.4em 2.4em;
  }
}

.logo {
  display: flex;
  justify-content: flex-start;

  &__text {
    display: inline-block;
    padding: 0 1.2em;
  }
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 12em;

  &__item {
    margin: 1em;
    list-style: none;

    &__link {
      padding: .5em 1em;
      font-size: 1.6rem;
      line-height: 2.4rem;
      text-decoration: none;
      color: $text-color;
    }
  }
}

.slider {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 3.6em;

  &__picture {
    width: 50%;
    padding: 2em 4em;
  }

  &__article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.6rem;
    line-height: 1.5;

    .mainTitle {
      margin-right: 2em;
      padding-right: 2.4em;
    }
  }
}

.accordionList {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__item {
    font-size: 1.6rem;
    text-align: left;
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
  }
}

.accordionItem {
  display: flex;
  justify-content: space-between;

  &__text {
    .other__title {
      padding: 0;
      text-align: left;
    }
  }
}

.accordionIcon {
  display: flex;
  align-items: center;

  .plusSign {
    margin-bottom: 1em;
  }
}

.quotation {
  display: flex;
  padding: 4em 0 4em 4em;

  .coloredText {
    margin: 4em 0 0 0;
    padding: 0 0 4em 0;
    border-left: 10px solid $main-color;
  }

  &__text {
    position: relative;

    .quotedown {
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 15em;
    }

    .quoteup {
      position: absolute;
      bottom: 40%;
      right: 0;
      padding-right: 15em;
    }

    .invisionLogo {
      position: absolute;
      bottom: 20%;
      left: 0;
      padding-left: 15em;
    }
  }
}

.cards {
  padding: 4em 0;

  .article {
    padding-left: 2.5em;
  }

  .article__title {
    padding: 1em 0 1em 1em;
    text-align: left;
  }
}

.cardBox {
  display: flex;
  justify-content: space-around;
}

.form {
  background-color: $main-color;
  color: $text-light-color;

  &__box {
    .btn {
      border: 1px solid $text-light-color;
      width: 145px;
    }
  }

  .label {
    margin: 1em 2em 0;
  }
}

.footer {
  background-color: $bg-footer-color;
  color: $text-light-color;

  &__lists {
    display: flex;
  }

  &__footer {
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    font-size: 1.4rem;
    letter-spacing: -0.02em;
    border-top: 3px solid $main-color;

    &-link {
      text-decoration: none;
      color: $text-light-color;
    }
  }
}

.productsList {
  padding: 4em 8em;

  .other__title {
    padding: 1em 0;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: bold;
    text-align: left;
  }

  .list {
    padding: 0;
  }
}

.socialBox {
  display: flex;
  justify-content: flex-end;
  padding: 4em 8em;

  .svgIcon {
    padding: 2em;
  }
}
